{% extends 'base.html' %}
{% load static %}

{% block content %}


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-2">
       {% if user.profile.profile_pic %}
        <img src="{{ user.profile.profile_pic.url }}", width="160", height="165" wiclass="card-img">
       {% else %}  
        <img src="{% static 'api/img/isold.png' %}", width="160", height="165"class="card-img"> 
       {% endif %}

    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title"> 
         {{ user.first_name }}
         {{ user.last_name }}
        </h5> 
        
               {% if user.profile.website_url %}     
                  <a href="{{ user.profile.website_url }}">Website</a>
               {% endif %}   

               {% if user.profile.facebook_url %} 
                |  <a href="{{ user.profile.facebook_url }}">Facebook</a>  
               {% endif %} 


                {% if user.profile.instagram_url %} 
                 | <a href="{{ user.profile.instagram_url }}">Instagram</a> 
                {% endif %}   


                {% if user.profile.twitter_url %} 
                 | <a href="{{ user.profile.twitter_url }}">Twitter</a> 
                {% endif %}   


                {% if user.profile.pinterest_url %}   
                 | <a href="{{ user.profile.pinterest_url }}">Pinterest</a> 
                {% endif %} 
                   
        
        <p class="card-text">
        {{ user.profile.bio }}
        </p>

      </div>
    </div>
  </div>
</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


{% endblock %}